<h1>Guestbook</h1>
          
 <div class="container">
  <div class="showcase">


      <div class="c-gallery-container">
        <ul class='c-gallery js-gallery' >
          <li class="c-gallery__item js-gallery-item" style="background-image: url('images/image_01.jpg')"></li>
          <li class="c-gallery__item js-gallery-item" style="background-image: url('images/image_02.jpg')"></li>
          <li class="c-gallery__item js-gallery-item" style="background-image: url('images/image_03.jpg')"></li>
          <li class="c-gallery__item js-gallery-item" style="background-image: url('images/image_04.jpg')"></li>
        </ul>
      </div>
      <ul class='c-nav-list js-nav-list'>
        <li class="c-nav-list__item">
            <a href="#" data-direction="left"> < </a>
            </li>
        <li class="c-nav-list__item ">
          <a href="#" data-direction="right"> > </a>
        </li>
      </ul>
  </div>
</div>
          
          <div class="comments">
           <form id="form">
                <input type="text" name="newComment" value="">
                <button type="button" name="button">Submit</button>
            </form>
            <div class="comments-template">
            </div>
        </div>

        <script id="comments-template" type="text/x-handlebars-template">
            <ul id="comment-list">
                {{#each comments}}
                  <li class="comment-list-item">{{this}}</li>
                {{/each}}
            </ul>
        </script>

    </body>
</html>